{% extends "../page_base.html" %}

{% block page_title %}
Informações
{% endblock %}

{% block sidebar_options %}
<a href="" class="active">
  <i data-lucide="book-text"></i>
  <p>Informações</p>
</a>

<a href="{% url 'listar_pedidos' %}">
  <i data-lucide="notepad-text"></i>
  <p>Pedidos</p>
</a>

<a href="{% url 'listar_itens_cardapio' %}">
  <i data-lucide="utensils-crossed"></i>
  <p>Cardápio</p>
</a>
{% endblock %}

{% block main_content %}
<div class="information-container">
  {% if restaurante.imagem %}
  <img src="{{ restaurante.imagem.url }}" alt="Imagem do restaurante" width="400">
  {% endif %}

  <h2>{{ restaurante.nome }}</h2>
  <p><strong>CNPJ:</strong> {{ restaurante.cnpj }}</p>
  <!-- <p><strong>Endereço:</strong> {{ restaurante.endereco }}</p> -->
  <p><strong>Telefone:</strong> {{ restaurante.telefone }}</p>

  <a 
    href="{% url 'editar_informacoes' %}" 
    class="border-button"
    style="width: auto;"
  >
    <i data-lucide="square-pen"></i>
    <p>Editar informações</p>
  </a>
</div>
{% endblock %}