body {
  background-color: var(--orange-1);
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.normal-container {
  background-color: var(--gray-0);
  border-radius: 20px;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.pedido-actions {
  display: flex;
  gap: 1rem;
}

.pedido-container {
  background-color: white;
  border: 1px solid var(--gray-1);
  padding: 1rem;
  border-radius: 20px;
  height: fit-content;
}

.pedido-itens {
  display: flex;
  flex-direction: column;
}

.pedido-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.pedido-item img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.pedido-item div {
  flex: 1;
}
