:root {
  /* Decleração das cores */
  --orange-1: #f95e07;
  --orange-2: #fa4a0c;
  --red-1: #db79a9;
  --green-1: #9dc8a5;
  --gray-0: #f5f5f6;
  --gray-1: #d9d9d9;
}

body {
  background-color: var(--orange-1);

  display: flex;
  height: 100dvh;
  /* width: 100dvw; */
}

.sidebar {
  position: relative;
  background-color: var(--gray-0);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  width: 240px;
  transition: 500ms;
}

.sidebar img {
  width: 3.5rem;
  margin-bottom: 30px;
}

.sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}

.sidebar nav .active {
  color: var(--orange-1);
}

.sidebar .exit {
  color: var(--red-1);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar.colapsed {
  width: 4rem;
  align-items: center;
}

.sidebar.colapsed img {
  width: 2rem;
}

.sidebar.colapsed nav a p,
.sidebar.colapsed > .exit > p {
  display: none;
}

.sidebar .toggle-colapse {
  --size: 40px;

  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%) rotate(0deg);
  transition: transform 0.3s ease;
  transform-origin: center;

  width: var(--size);
  height: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.sidebar.colapsed .toggle-colapse {
  right: 50%;
  transform: translate(50%, -50%) rotate(180deg);
  color: white;
  background-color: var(--orange-1);
  border-radius: 100%;
}

.main-container {
  background-color: var(--gray-0);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  flex: 1;
  margin: 20px;
  margin-left: 60px;
  padding: 8px;
}

.information-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.information-container img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.pedidos-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.pedidos-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  overflow-y: scroll;
}

.pedido-card {
  background-color: white;
  color: black;
  border: 1px solid var(--gray-1);
  padding: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}