:root {
  /* Decleração das cores */
  --orange-1: #f95e07;
  --orange-2: #fa4a0c;
  --red-1: #db79a9;
  --green-1: #9dc8a5;
  --gray-0: #F5F5F6;
}

body {
  background-color: var(--orange-1);

  display: flex;
  height: 100dvh;
  width: 100dvw;
}

.sidebar {
  background-color: var(--gray-0);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  width: 240px;
}

.sidebar img {
  width: 35%;
  margin-bottom: 30px;
}

.sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}

.sidebar nav .active {
  color: var(--orange-1);
}

.sidebar .exit {
  color: var(--red-1);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-container {
  background-color: var(--gray-0);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  flex: 1;
  margin: 20px;
  margin-left: 60px;
  padding: 8px;
}

.information-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.information-container img {
  border-radius: 100%;
  width: 200px;
}

.pedidos-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
