{% extends "../page_base.html" %} 

{% block page_title %}
Cardápio
{% endblock %}

{% block sidebar_options %}
<a href="{% url 'home_info' %}">
  <i data-lucide="book-text"></i>
  <p>Informações</p>
</a>

<a href="{% url 'listar_pedidos' %}">
  <i data-lucide="notepad-text"></i>
  <p>Pedidos</p>
</a>

<a href="" class="active">
  <i data-lucide="utensils-crossed"></i>
  <p>Cardápio</p>
</a>
{% endblock %} {% block main_content %}
<div>
  <a href="{% url 'cadastrar_item_cardapio' %}" class="create">
    <i data-lucide="square-plus"></i>
    <p>Adicionar item</p>
  </a>
</div>

<div class="cards-container">
  {% for item in itens_cardapio %}
    <div class="menu-item">
      <img src="{{ item.imagem.url }}" alt="Imagem Item Cardápio" />
      <div class="menu-info">
        <h4>{{ item.nome }}</h4>
        <p class="preco">R$ {{ item.valor }}</p>
        <p class="descricao">{{ item.descricao }}</p>
        <div class="menu-actions">
          <a href="{% url 'editar_item_cardapio' item.id %}" class="edit">
            <i data-lucide="pencil"></i>
          </a>
          <a href="{% url 'remover_item_cardapio' item.id %}" class="delete">
            <i data-lucide="x"></i>
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Não existe nenhum item cadastrado</p>
  {% endfor %}
</div>
{% endblock %}
