{% extends "../auth_form_base.html" %}

{% block page_title %}
Dash - Login
{% endblock %} 

{% block form_title %}
Login 
{% endblock %} 

{% block inputs %}
  <div class="form-group">
    <label for="id_user">Usuário</label>
    <input type="text" name="username" placeholder="Usuário" id="id_user" class="form-input" required />
  </div>

  <div class="form-group">
    <label for="id_senha">Senha</label>
    <input type="password" name="password" placeholder="Senha" id="id_senha" class="form-input" required />
  </div>
{% endblock %}

{% block submit_text %}
Entrar
{% endblock %}

{% block option_message %}
  <p>Ainda não possui uma conta?</p>
  <a href="{% url 'cadastro' %}">Cadastrar-se</a>
{% endblock %}

