<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  
  <title>
    {% block page_title %}
    {% endblock %}
  </title>

  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- ESTILIZAÇÃO -->
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/shared.css' %}">
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/form.css' %}">

  <!-- ÍCONES -->
  <script defer src="https://unpkg.com/lucide@latest"></script>
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      lucide.createIcons();
    });
  </script>
</head>
<body>
  <div class="ball ball-1"></div>
  <div class="ball ball-2"></div>
  <div class="ball ball-3"></div>

  <div class="form-container">
    <h1>{% block form_title %}{% endblock %}</h1>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {% block inputs %}
      {% endblock %}

      <button type="submit" class="btn-submit">
        {% block submit_text %}{% endblock %}
      </button>
    </form>

    <div class="option-text">
      {% block option_message %}{% endblock %}
    </div>
  </div>
</body>
</html>
