<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">

  <title>
    {% block page_title %}
    {% endblock %}
  </title>

  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/shared.css' %}">
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">

  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- ESTILIZAÇÃO -->
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/page.css' %}">
  <!-- ÍCONES -->
  <script defer src="https://unpkg.com/lucide@latest"></script>
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      lucide.createIcons();
    });
  </script>
</head>
<body>
  <aside class="sidebar colapsed">
    <img src="{% static 'image/logo.svg' %}" alt="Logo">
    
    <nav>
      <a href="{% url 'home_info' %}" class="{% if current_url == 'home_info' %}active{% endif %}">
        <i data-lucide="book-text"></i>
        <p>Informações</p>
      </a>

      <a href="{% url 'listar_pedidos' %}" class="{% if current_url == 'listar_pedidos' %}active{% endif %}">
        <i data-lucide="notepad-text"></i>
        <p>Pedidos</p>
      </a>

      <a href="{% url 'listar_itens_cardapio' %}" class="{% if current_url == 'listar_itens_cardapio' %}active{% endif %}">
        <i data-lucide="utensils-crossed"></i>
        <p>Cardápio</p>
      </a>
    </nav>
    
    <a class="exit" href="{% url 'logout' %}">
      <i data-lucide="log-out"></i>
      <p>Sair</p>
    </a>
  </aside>

  <main class="main-container">
    {% block main_content %}
    {% endblock %}
  </main>
</body>
</html>
